ul {
  list-style-type: none;
  margin: 0px -70px 0px 0px;
  padding: 0;

}

li {
  float: right;
  display: block;
  padding: 12px;
  font-family: Arial;
  font-size: 14px;

}

#google_app {
  display: inline;
  height: 12%;
  width: 12%;

}

#google_notif {
  display: inline;
  height: 20px;
  width: 20px;
  margin: -1px 0px 0px -130px;
}

#profile_pic {
  height: 40px;
  width: 40px;
  border-radius: 40px 40px 40px 40px;
  margin: -10px 0px 0px -110px;
}

.google_logo {
  position: absolute;
  top:0; bottom:0; left:0; right:0;
  margin: 0 auto;
  margin-top: 150px;
  height: 180px;
}

#empty_search {
  position: absolute;
  bottom: 550px;
  left: 37%;
  right: 30px;
}

#two_search {
  position: absolute;
  bottom: 500px;
  left: 44%;
  right: 30px;
}

#input_1 {
  width: 500px;
  height: 30px;
}
